// 1296px
@media (max-width: 1296px) {
  .container {
    max-width: 100%;
  }
  .banner {
    .recommend-list {
      justify-content: space-evenly;
      .recommend {
        width: calc((100% - 48px) / 3);
        margin: 10px 0;
      }
    }
  }

  .tools-list {
    ul {
      justify-content: space-around;
    }
  }
}

// 1100px
@media (max-width: 1125px) {
  .container {
    max-width: 100%;
  }
  // .banner {
  //   .recommend-list {
  //     justify-content: space-evenly;
  //     .recommend {
  //       width: calc((100% - 48px));
  //       margin: 10px 0;
  //     }
  //   }
  // }
}

// 992px
@media (max-width: 992px) {
  .container {
    max-width: 940px;
  }

  .banner {
    .service {
      .service-list-li {
        width: 100%;
      }
    }
    .recommend-list {
      justify-content: space-evenly;
      .recommend {
        width: calc((100% - 48px));
        margin: 10px 0;
      }
    }
  }

  .tools-search-row {
    .tools-search-row-button {
      padding: 20px 20px;
    }
  }
}

// 767px

@media (max-width: 767px) {
  .container {
    max-width: 720px;
  }

  .service-list-li {
    width: 100%;
  }
  footer {
    .sitemap {
      .service-list {
        li {
          font-size: 60px;
        }
      }
    }
  }

  .tools-search {
    display: flex;
    flex-wrap: wrap;
  }
  .tools-search-filter {
    margin: 30px 0;
    &:first-child {
      order: 3; /* 將第二個按鈕移到最後 */
    }
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }

  .service-list-li {
    width: 100%;
  }
  .tools-search-row {
    .tools-search-row-button {
      padding: 20px 15px;
    }
  }
}
